nav {
	width: 200px;
	float: left;

	border: solid red 1px;
}

section {
	margin-left: 200px;
	
	border: solid blue 1px;
}

.clearfix {
	overflow: auto;
	zoom: 1;  /* IE6 */

	border: solid green 1px;
}

