* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

nav {
	display: inline-block;
	vertical-align: top;
	width: 25%;

	border: solid red 3px;
}

.column {
	display: inline-block;
	vertical-align: top;
	width: 75%;

	border: solid blue 3px;
}

.container {
	border: solid green 3px;
}

section {
	border: solid pink 3px;
}
